%tr
  - row_span = if selection.description.empty? then 1 else 2 end
  %td{:width => "100", :rowspan => row_span}
    %img{:src => "http://www.waiter.com" + selection.logo_url, :alt => selection.name}
  %td
    %b= "#{selection.heading}:"
    %a{:href => restaurant_path(selection.id)}= selection.name
-if not selection.description.empty?
  %tr
    %td= selection.description

%tr
  %td{:colspan => 2}
