%p#notice= notice

-if @previous
  %a{:href => lineups_path(@previous)}back
-else
  back

-if @next
  %a{:href => lineups_path(@next)}next
-else
  next
  
%a{:href => root_path}home

%p
  %b Date:
  = @lineup.date
  =render :partial => "lineup_item", :locals => { :selection => @lineup.early_1 }
  =render :partial => "lineup_item", :locals => { :selection => @lineup.early_2 }
  =render :partial => "lineup_item", :locals => { :selection => @lineup.early_3 }
  =render :partial => "lineup_item", :locals => { :selection => @lineup.late_1 }
  =render :partial => "lineup_item", :locals => { :selection => @lineup.late_2 }
  =render :partial => "lineup_item", :locals => { :selection => @lineup.late_3 }
