- cache ["navbar", @lineup] do
  - previous_rec = @previous.first
  - if previous_rec
    %a{:href => lineups_path(previous_rec)}back
  -else
    back

  - next_rec = @next.first
  - if next_rec
    %a{:href => lineups_path(next_rec)}next
  -else
    next

%a{:href => root_path}home

%table
  %tr
    %td{:colspan => 2}
      %b Date:
      =@lineup.date
  =render :partial => "lineup_item", :locals => { :selection => @lineup.early_1 }
  =render :partial => "lineup_item", :locals => { :selection => @lineup.early_2 }
  =render :partial => "lineup_item", :locals => { :selection => @lineup.early_3 }
  =render :partial => "lineup_item", :locals => { :selection => @lineup.late_1 }
  =render :partial => "lineup_item", :locals => { :selection => @lineup.late_2 }
  =render :partial => "lineup_item", :locals => { :selection => @lineup.late_3 }
