- cache ['navbar', @lineup] do
  - previous_rec = @previous.first
  - if previous_rec
    %a{:href => lineups_path(previous_rec)}previous
    |
  -else
    back
    \|

  - next_rec = @next.first
  - if next_rec
    %a{:href => lineups_path(next_rec)}next
    |
  -else
    next
    \|

%a{:href => root_path}home

%table
  %tr
    %td{:colspan => 2}
      %b Date:
      =@lineup.date
  - @lineup.schedulings.includes(:restaurant => :reviews).each do |scheduling|
    %tr
      %td
        %b= "%s %d:" % [(scheduling.shift == 1 ? "Early" : "Late"), scheduling.position]
    = render :partial => "lineup_item",
             :locals => { :lineup => @lineup,
                          :scheduling => scheduling,
                          :restaurant => scheduling.restaurant }
