- # DailyLineup#show

= render :partial => 'navbar'

%table
  %tr
    %td{:colspan => 2}
      %b Date:
      =@lineup.date
  - # Don't eager load anything here (e.g. review/rating), rely on fragment caching instead!
  - @lineup.schedulings.each do |scheduling|
    %tr
      %td
        %b= "%s %d:" % [(scheduling.shift == 1 ? "Early" : "Late"), scheduling.position]
    = render :partial => "lineup_item",
             :locals => { :restaurant => scheduling.restaurant }
    - if current_user
      %tr
        %td{:colspan => 2}
          = render :partial => 'shared/user_feedback', :locals => {:target => scheduling.restaurant}
