- # Required locals:
- #   ratable: Restaurant/Dish that responds to star_rating/valid_rating_count

%span#updatable_rating{:id => ratable.id}
  Rating: #{ratable.star_rating} (#{ratable.valid_rating_count} ratings)
